* {
  box-sizing: border-box;
}

body {
  color: #939598;
  font-family: 'Open Sans', sans-serif;
}

/* =======================================================
   Form Styling
   ======================================================= */

.form-container {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 60%;
}

::placeholder {
  color: #D1D3D4;
}

.body-input,
.save-button,
.search-input,
.title-input {
  display: block;
  font-size: 17px;
  margin-bottom: 10px;
  padding: 5px;
  width: 450px;
}

.body-input,
.search-input,
.title-input {
  border: solid 1px #D1D3D4;
}

.body-input {
  height: 32px;
  resize: none;      
}

.search-section {
  display: flex;
  justify-content: center;
}

.search-input {
  margin: 20px 0 25px 0;
}

/* =======================================================
   Button Styling
   ======================================================= */

.button:focus {
  outline: none;
}

.save-button {
  background-color: #00A79D;
  border: none;
  color: #FFFFFF;
  letter-spacing: 0.5px;
}

.save-button:hover {
  background-color: #045E55;
}

.save-button:disabled {
  opacity: 0.5;
}

.save-button:disabled:hover {
  background-color: #00A79D;
}

.delete-button,
.downvote-button, 
.upvote-button {
  background-repeat: no-repeat;
  border: none;
  height: 20px;
  width: 20px;
}

.delete-button {
  background-image: url("../images/delete.svg");
  float: right;
}

.delete-button:hover {
  background-image: url("../images/delete-hover.svg")
}

.downvote-button,
.upvote-button {
  padding-bottom: 5px;
}

.upvote-button {
  background-image: url("../images/upvote.svg");
  margin-right: 10px;
}

.upvote-button:hover {
  background-image: url("../images/upvote-hover.svg");
}

.downvote-button {
  background-image: url("../images/downvote.svg");
  margin-right: 10px;
}

.downvote-button:hover {
  background-image: url("../images/downvote-hover.svg");
}

/* =======================================================
   Header Styling
   ======================================================= */

.header {
  background-color: #E5F3F2;
}

.header-title {
  color: #00A79D;
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 20px 0;
  text-align: center;
}

.header-title-b {
  color: #6D6E71;
}

/* =======================================================
   Created Card Styling
   ======================================================= */

.card-container {
  border-bottom: 1px solid #D1D3D4;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto 20px auto;
  padding-bottom: 20px;
  width: 450px;
}

.card-title {
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  font-weight: 700;
}

.card-title,
.quality-text {
  display: inline;
}

.card-body {
  color: #939598;
  line-height: 115%;
  margin: 15px 0 20px 0;
}

.quality-text {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
}

.vote-quality {
  color: #6D6E71;
  font-family: 'Open Sans', sans-serif;
}

/* =======================================================
   Media Queries
   ======================================================= */

@media only screen and (max-width: 550px) {
  .form-container {
    width: 90%;
  }

  .body-input,
  .card-container,
  .save-button,
  .search-input,
  .title-input {
    width: 340px;
  }
}

@media only screen and (max-width: 450px) {
  .body-input,
  .card-container,
  .save-button, 
  .search-input,
  .title-input {
    width: 260px;
  }

  .body-input {
    height: 75px;
  }
}

@media only screen and (max-width: 320px) {
  .body-input,
  .card-container,
  .save-button,
  .search-input,
  .title-input {
    width: 220px;
  }
}